body { 
	width: auto;
	margin: 0 2%;
	background: #fff;
	color: #333;
	font-family: Cantarell, "Helvetica Neue", Arial, Helvetica sans-serif; 
}
@media screen and (min-width: 1024px) {
  body {
    width: 940px;
	margin: 0px auto; 
  }
}

h1 {
font-size: 2em;
font-weight: bold;
margin-bottom: 10px;
}

a{ color: #7777DF; text-decoration: none; }
	a:hover{ color: #205092; }
pre {
tab-size: 4;
font-size: 1em;
padding: 5px;
background-color: #f0efe7;
color: #333333;
line-height: 120%;
border: 1px solid #ac9;
}

.pre {
	color: #c00;
}

dl {
}
dt {
    float: left;
    clear: left;
    width: 8em;
    font-weight: bold;
}
dd {
    margin: 0 0 0 9em;
    padding: 0 0 0.5em 0;
}
  
/*
 Top-of-page header
*/
#header {
	margin-top: 14px;
	position: relative;
	height: 56px;
	padding-bottom: 26px;
}
#header a { color: #333;}

#title {
	background-image: url("cone.png");
	background-size: 56px 56px;
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 1.8em;
	color: #c00;
	float: left;
	padding-left: 64px;
	padding-top: 10px;
	padding-right: 1.0em;
	height: 56px;
}

#sub {
	float: left;
	font-weight: bold;
	font-size: 1.3em;
	color: #c00;
	padding-top: 17px;
	height: 49px;
}

#slogan {
	font-style: italic;
	position: absolute;
	top: 25px;
	left: 200px;
}

/*
 Main text section
*/
.text {
	clear: both;
	font-size: 1.05em;
}

.text img {
	float: right;
	margin: 25px 70px;
}

.text li {
  margin-top: 1em;
}

.p-hdr {
  font-weight: bold;
}

th, td {
  vertical-align: top;
  text-align: left;
  padding: 15px;
}